<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DrawArts</title>
    <link rel="stylesheet" href="style.css">
   <style>
	   #content {
		   margin: 100px;
  			padding: 20px;
		}
		
		th, td {
	      padding: 8px;
	     
    	}
    	.tdata
    	{
			text-align: center;
		}

    	th {
      		background-color: #f2f2f2;
    	}

   		tr:nth-child(even) {
      		background-color: #f2f2f2;
    	}
    	.delete{
		background-color: rgb(255, 0, 0);
		color: white;
		padding: 5px;
		border-radius: 5px;
	}

   </style>
  </head>
  <body>
   <nav>
      <ul>
        <li>
          
        </li>
        <li><a href="/" id="home">Home</a></li>
        <li><a href="new_arrivals">New Arrivals</a></li>
        <li><a href="/" id="category">Categories</a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="#" id="signup"><button id="signupButton">Sign Up</button></a></li>
        <li><a href="#" id="login"><button id="loginButton">Login</button></a></li>
        <li>
          <form class="search-form">
            <input type="text" placeholder="Search"><button type="submit">Search</button>
          </form>
        </li>
        <li><a href="cart" class="cart-icon">Cart</a></li>

        <li><a href="add_art">Add New Art</a></li>
      </ul>
    </nav>

  <section id="content">
    <div class="cart">
      <h2>My Cart</h2>
  		<table>
		  <thead>
		    <tr>
		      <th>Id</th>
		      <th>Name</th>
		      <th>Size</th>
		      <th>Price</th>
		      <th>Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="b :${art}">
		      <td class="tdata" th:text="${b.id}"></td>
		      <td class="tdata" th:text="${b.name}"></td>
		      <td class="tdata" th:text="${b.size}"></td>
		      <td class="tdata" th:text="${b.price}"></td> 
		      <td class="tdata"><a th:href="@{/deleteCart/{id}(id=${b.id})}"><button class="delete">Delete</button></a></td> 
		    </tr>
		  </tbody>
		</table>
  </div>
  </section>

   <footer>
       <table class="footer-links">
           <tr>
               <td>
                   <navi>
                       <ul>
                           <h3>Quick Links</h3>
                           <li><a href="#">Home</a></li>
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Contact</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                       </ul>
                   </navi>
               </td>

               <td>
                   <ul>
                       <h3>Address</h3>
                       <li><a href="#">Mukesh Patel School of Technology Management and Engineering, Mumbai</a></li>
                       <li><a href="#">+91 1234567890</a></li>
                       <li><a href="#">test123@gmail.com</a></li>
                   </ul>
               </td>


           </tr>

       </table>
       <p style="text-align: center;">&copy; 2025 Art Gallery.</p>
   </footer>
  </body>
</html>